<!DOCTYPE html>
<html>
<head>
  <title>Pepper the Whippet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv.js" %>
  <![endif]-->
</head>
<body>
<div id="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Pepper</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/photos">Photos</a></li>
            <li><a href="#">About Her</a></li>
            <%- if params[:id]=="lost" %>
              <li><a href="/lost">Pepper is LOST!</a></li>
            <%- end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <!-- Begin page content -->
  <div class="container">
    <%= yield %>
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit"></p>
  </div>
</div>

</body>
</html>
